.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
}
.text__mO79N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.h5 {
  color: var(--token-BFUtVeVrp);
  text-transform: uppercase;
  font-weight: 400;
}
.h6 {
  font-size: 24px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 161px;
  height: 100px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__kEvJx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
